@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
    box-sizing: border-box;
    margin: 0%;
    padding:0%;

    --card-background: #f3f3f3;
    --primary-color: #00669f;
    font-family: "Roboto" sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    width: 100%;
    top:0;
    z-index: 1;
}

main{
 flex-grow: 1;
}

.bar-descount{
   height: 38px; 
   width: 100;
   background-color:#1cd1b0 ;
   padding: 10px;
   font-weight: bold;
}

.title{
    height: 101px;
    background-color: var(--primary-color);
    padding: 5px;
    font-size: 2rem;
    box-shadow: 0px 12px 11px -8px rgba(0, 0, 0, 0.58);;
}

.container-cards{
    margin: 1opx;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.card{
    width: 374px;
    height: 580px;

    background-color: var(--card-background);
    border-radius: 16px 16px 0px 0px;

    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 7px 6px -1px rgba(0, 0, 0, 0.47);

}

.card-background{
    width: 100%;
    height: 210px;
    position: relative;
}

.card-batman{
    background-image: url("../img/Mask\ batman.png");
    background-repeat: no-repeat;
    background-color: cover;
}

.card-arlequina{
    background-image: url("../img/Mask\ alerquina.png");
        background-repeat: no-repeat;
        background-color: cover;
}
.card-icone{
    position: absolute;
    top: 15px;
    left: 15px;
}

.card-user img {
    border-radius: 50%;
    background-repeat: no-repeat;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 115px;
    top: 130px;
}

.card-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  margin-top: 65px;  
}

.descricao{
  margin: 10px 20px;
  text-align: justify;
  flex-grow: 1;  
}

.botao {
    display: flex;
        justify-content: center;
        align-items: center;
    
        background-color: var(--primary-color);
        color: white;
        text-decoration: none;
    
        width: 145.34px;
        height: 54.76px;
    
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #f3f3f3;
    
        margin: 20px;
}

footer {
    background-color: var(--primary-color);
    height: 51px;
    width: 100%;
    color: #fff9f9;
    padding: 10px;
}











